@import "navigation";
@import "styles";
@import "mobile";

h1 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

h4 {
  text-decoration: underline;
}

pre {
  margin: 0;
}

code {
  text-wrap: wrap;
}

.deadline {
  color: red;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.abstract-image {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 170px;
}

.emphasis {
  font-weight: bold;
  color: #106fbd;
}

.page-body {
  position: relative;
}

.pdf-icon {
  max-width: 30px;
  position: absolute;
  right: 0px;
  transform: translateY(8px);
}

.site-logo {
  max-width: 300px;
}

.footer {
  display: block;
  text-align: center;
  margin-top: 40px;
}

// new stuff

.footnote-number {
  background: #eee;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 1px 3px;
  margin-left: 1px;
  transform: translateY(-8px);
}

.littlefoot-footnote__content > p {
  font-size: 14px !important;
  margin: 10px 0 !important;
  line-height: 24px;
}

.littlefoot-footnote__wrapper {
  min-width: 500px;
}

.littlefoot-footnote__content {
  max-height: 500px !important;

  p {
    min-width: 450px;

    a {
      word-break: break-all; // long url in a footnote
    }
  }
}
